      .div{text-align: center; margin-left: 30% ; margin-right: 35%;
         ; padding:50px; color: aliceblue;}
         body{background-image: url(assets/gradient-abstract-with-diagonal-lines-background_23-2150527316.jpg);
       background-size: cover;
      background-repeat: no-repeat; }
         .input1{box-sizing: border-box; padding: 8px; width: 80%; margin: 10px 0px 10px 0px; border-radius: 8px; border-color: rgb(0, 225, 255); border-style:solid;}
         .class1{font-family:Arial, Helvetica, sans-serif; text-transform: uppercase; font-size:40px;}
         .class2{font-family: Arial, Helvetica, sans-serif; font-size: 20px ; font-weight: bold; letter-spacing:2px;}
         .btn:hover{ width: 60%; color: antiquewhite; 
            background-color: rgb(72, 159, 241 
            );font-size: 18px; font-weight: 900 ; padding: 4px; margin-top: 6px; border-radius: 8px; }
            .btn{ width: 60%; background-color: antiquewhite; color: black; transition-duration: 0.2s; font-size: 18px; font-weight: 900 ; padding: 4px; margin-top: 6px; border-radius: 8px;}
            .link{text-decoration: underline; color: white; margin: 6px; font-weight: bold;}
            .link2{text-decoration: underline; color: white ;font-weight: bold;}}
      
